.header {
  background: var(--cbase800);
  color: var(--cbase300);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 1.25rem;
}
.header img {
  width: 2rem;
  height: 2rem;
}